body{
    margin: 0;
    padding: 0;
}
header{
    border-bottom:2px solid #eeeeee;
    padding: 30px;
}
.lm{
    float: left;
    margin-top: -10px;
}
.logo{
    background-color:#B01E68;
    border:2px solid chartreuse;
    border-radius: 100%;
    padding: 10px;
    color: aliceblue;
}
.rm{
    float: right;
    margin-top: -10px;
}
.rm span{
    margin-right: 5px;
}
.rm a {
    margin-right: 5px;
    text-decoration: none;
    letter-spacing: 2px;
    color:#B01E68;
    font-size: 1.2em;
}
.rm a:hover{
    background-color: #B01E68;
    color: white;
    padding: 5px;
}
.fa{
    color: #B01E68;
}
.left{
    float: left;
    width:20%;
    
}
section{
    float: left;
    width:60%;
  
}
.line{
    height: 1px;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
}
.right{
    float: left;
    width:15%;
    margin-left: 30px;
}
.left ul{
    list-style-type: none;
}
.left li{
    padding: 10px;
    font-size: 1.4em;
    color: #852999;
    letter-spacing: 2px;
    cursor: pointer;
}

.main div{
    background-color: #852999;
    height: 100%;
    padding: 100px;
    margin: 20px;
    color: antiquewhite;
    text-align: center;
    border-radius: 100%;
    border:2px solid salmon;
}
.main h1{
    letter-spacing: 5px;
    font-size: 3em;
}
.main p{
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 30px;
}
.tags{
    margin-top: 10px;
    margin-left: 50px;
  
}
.tags p{
    margin-bottom: 35px;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.sticker{
    position: fixed;
    top:40%;
    left:0px;
  
   border-radius: 0 10% 10% 0;
   
}
.sticker span{
    padding: 10px;
    color: white;
    background-color: #B01E68;
    width: 20px;
}
.sticker span:hover{
   background-color: white;
   color: #B01E68;
}
.sticker div{
    border-bottom: 1px solid white;
}
.item{
    margin-bottom: 20px;
}
   
.palette{
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.pal{
  position: relative;

}
.item1{
    padding-bottom: 40%;
}
.item2{
    padding-bottom: 35%;
}
.item3{
    padding-bottom: 25%;
}
.item4{
    padding-bottom: 15%;
}
.pal span{
    position: absolute;
    opacity: 0;
    background-color: rgb(203, 201, 201);
    color: 1;
    padding: 5px;
    bottom: 0;
    border-radius: 0 10px 10px 0;
}
.pal:hover span{
    opacity: 1;
}