body{
    margin: 0;
    padding: 0;
}
header{
    border-bottom:2px solid #eeeeee;
    padding: 30px;
    width:100%;
}
.lm{
    float: left;
    margin-top: -10px;
    width: 20%;
}
.logo{
    background-color:#B01E68;
    border:2px solid chartreuse;
    border-radius: 100%;
    padding: 10px;
    color: aliceblue;
}
.search{
    float: left;
    width: 40%;
    margin-left: 30px;
    margin-top: -10px;
    overflow: hidden;
}
.inputcontainer{
    width: 100%;
    margin: auto;
    position: relative;
}
input[type=search]
{
    width:100%;
    height: 35px;
    border:1px solid rgb(235, 223, 223);
    background: 0 0;
    border-radius: 40px;
    display: inline-block;
    outline: none;
    text-indent: 20px;
    font-size: 16px;
}
input[type=search]:focus{
    border:2px solid #B01E68    ;
}

.searchicon{
    position: absolute;
    left:10px;
    top:5px;
    opacity: 0.7;
}
input[type=search]:focus ~ .searchicon{
    opacity: 0;
}
.rm{
    float: right;
    margin-top: -10px;
    width: 25%;
}
.rm span{
    margin-right: 5px;
}
.rm a {
    margin-right: 5px;
    text-decoration: none;
    letter-spacing: 2px;
    color:#B01E68;
    font-size: 1.2em;
}
.rm a:hover{
    background-color: #B01E68;
    color: white;
    padding: 5px;
}
.fa{
    color: #B01E68;
}
.left{
    float: left;
    width:20%;
    
}
section.sec{
    float: left;
    width:60%;
  
}
section.center{
    float: left;
    width:60%;
  
}
.line{
    height: 1px;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.00) 0%,#000000 50%,rgba(0,0,0,0.00) 100%);
    opacity: .1;
    width: 100%;
}
.right{
    float: left;
    width:15%;
    margin-left: 30px;
}
.left ul{
    list-style-type: none;
}
.left li{
    padding: 10px;
    font-size: 1.4em;
    color: #852999;
    letter-spacing: 2px;
    cursor: pointer;
}

.main div{
    background-color: #852999;
    height: 100%;
    padding: 100px;
    margin: 20px;
    color: antiquewhite;
    text-align: center;
    border-radius: 100%;
    border:2px solid salmon;
}
.main h1{
    letter-spacing: 5px;
    font-size: 3em;
}
.main p{
    font-size: 1.2em;
    letter-spacing: 2px;
    line-height: 30px;
}
.tags{
    margin-top: 10px;
    margin-left: 50px;
  
}
.tags p{
    margin-bottom: 35px;
    font-size: 1.2em;
    letter-spacing: 2px;
}
.sticker{
    position: fixed;
    top:40%;
    left:0px;
  
   border-radius: 0 10% 10% 0;
   
}
.sticker span{
    padding: 10px;
    color: white;
    background-color: #B01E68;
    width: 20px;
}
.sticker span:hover{
   background-color: white;
   color: #B01E68;
}
.sticker div{
    border-bottom: 1px solid white;
}
.item{
    margin-bottom: 20px;
}
   
.palette{
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.pal{
  position: relative;

}
.item1{
    padding-bottom: 40%;
}
.item2{
    padding-bottom: 35%;
}
.item3{
    padding-bottom: 25%;
}
.item4{
    padding-bottom: 15%;
}
.pal span{
    position: absolute;
    opacity: 0;
    background-color: rgb(203, 201, 201);
    color: 1;
    padding: 5px;
    bottom: 0;
    border-radius: 0 10px 10px 0;
}
.pal:hover span{
    opacity: 1;
}
.coll p{
    font-family: monospace;
    font-size: 20px;
}
.coll p span{

    margin-left: 500px;
}
.coll1{
    position: relative;
    margin-top: 70px;
    text-align: center;
}

.coll1 span{
    position: absolute;
    z-index: -1;
    top:-50px;
    left:0;
    right: 0;
    margin: 0 auto;
    
}
.coll1 h1{
    font-size: 30px;
    background-color:#852999;
    color: whitesmoke;
    padding: 10px;
    border-radius: 40px;
    width: 60%;
    margin: auto;
}
.coll .text{
    text-align: center;
    margin-top: 60px;
}
.coll .text p{
    font-family:cursive;
}
.text .button{
    border: 2px solid #eee;
    padding: 10px;
    width: 40%;
    margin: auto;
    cursor: pointer;
    border-radius: 40px;
    letter-spacing: 1px;
}
.text .button:hover{
    background-color: #eee;
}
